@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

.navbar {
    padding: 0 !important;
}

.hero-btn, .btn-first {
    outline: none;
    box-shadow: none;
    border: 0;
    padding: 10px 25px;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    background: #458FF6;
}

.hero-space {
    margin: 10% auto;
}

.row {
    margin: 0 !important;
}

@media screen and (max-width: 992px) {
    br {
        display: none;
    }

    .hero-space {
        margin-bottom: 40px;
    }

    .hero-space h1 {
        font-size: 24px;
    }

    .hero-btn {
        width: 100%;
        margin-top: 20px;
    }
}

.btn-first {
    border: 1px solid #458FF6;
    background: #fff;
    color: #458FF6;
}


@media screen and (min-width: 680px) and (max-width: 1000px) {
    .hero-space h1 {
        font-size: 44px;
    }

    .hero-space p {
        font-size: 24px;
    }
}






.row {
    margin: 0 !important; 
}

.service-header p {
    font-size: 15px;
    margin-top: 14px;
}

.testimonial {
    background: #67C3F3;
    height: 300px;
}

/* background */

.edword-u {
    margin-top: 100px;
    margin-left: -20px;

}

.cap-face {
    margin-top: 60px;
    margin-left: 100px;
   
}

.explore-u {
   text-align: center;
}

.explore-u {
margin-top: 30px;
}

.testimonial {
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 5px;
}


@media screen and (max-width: 992px) {
    br {
        display: none;
    }
    .hero-space p {
        font-size: 24px;
    }

    .myCard {
        height: 382px !important;
    }
}